<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3310/logocare?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="model/pojo/Pedido.hbm.xml"/>
    <mapping resource="model/pojo/Cliente.hbm.xml"/>
    <mapping resource="model/pojo/Detallepedido.hbm.xml"/>
    <mapping resource="model/pojo/Categoria.hbm.xml"/>
    <mapping resource="model/pojo/Estadopedido.hbm.xml"/>
    <mapping resource="model/pojo/Listadeseo.hbm.xml"/>
    <mapping resource="model/pojo/Producto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
